<a href="https://colab.research.google.com/github/girish3213/ML-DL-ANN-Classification/blob/main/ANN_Demographic_Segmentation_(Classification).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Artificial Neural Network

Dataset Information:


The dataset contains details of  bank's customers and the target variable is a binary variable reflecting the fact whether the customer left the bank (closed his account) or he continues to be a customer.

Attribute Information:


*   RowNumber: Row Numbers from 1 to 10000
*   CustomerId: A unique ID that identifies each customer.

*   Surname: The customer’s surname.
*   CreditScore: A credit score is a number between 300–850 that depicts a consumer's creditworthiness.

*   Geography: The country from which the customer belongs to.
*   Gender: The customer’s gender: Male, Female

*   Age: The customer’s current age, in years, at the time of being customer.
*   Tenure: The number of years for which the customer has been with 
the bank.



*  Balance: Bank balance of the customer.
*  NumOfProducts: the number of bank products the customer is utilising.



*   HasCrCard: The number of credit cards given to the customer by the bank.
*   IsActiveMember: Binary Flag for indicating if the client is active or not with the bank before the moment where the client exits the company (recorded in the variable "exited")

*   EstimatedSalary: The estimated salary of the customer provided by the bank based on his/her transcations.



*   Exited: Binary flag 1 if the customer closed account with bank and 0 if the customer is retained.

### Importing the libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

In [ ]:
tf.__version__

'2.8.0'

## Part 1 - Data Preprocessing

### Importing the dataset

In [ ]:
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[ : , 3:-1].values
y = dataset.iloc[ : , -1].values

In [ ]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [ ]:
print(y)

[1 0 1 ... 1 1 0]

### Encoding categorical data

Label Encoding the "Gender" column

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[: , 2] = le.fit_transform(X[: , 2])

In [ ]:
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

One Hot Encoding the "Geography" column

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder',OneHotEncoder(), [1])], remainder = 'passthrough')
X = np.array(ct.fit_transform(X))

In [ ]:
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

### Splitting the dataset into the Training set and Test set

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2 , random_state = 0)

In [ ]:
print(X_train)

[[0.0 0.0 1.0 ... 1 0 163830.64]
 [0.0 1.0 0.0 ... 1 1 57098.0]
 [1.0 0.0 0.0 ... 1 0 185630.76]
 ...
 [1.0 0.0 0.0 ... 1 0 181429.87]
 [0.0 0.0 1.0 ... 1 1 148750.16]
 [0.0 1.0 0.0 ... 1 0 118855.26]]

In [ ]:
print(X_test)

[[0.0 1.0 0.0 ... 1 1 192852.67]
 [1.0 0.0 0.0 ... 1 0 128702.1]
 [0.0 0.0 1.0 ... 1 1 75732.25]
 ...
 [0.0 0.0 1.0 ... 1 0 141533.19]
 [0.0 1.0 0.0 ... 1 1 11276.48]
 [0.0 1.0 0.0 ... 1 0 192950.6]]

### Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
print(X_train)

[[-1.01460667 -0.5698444   1.74309049 ...  0.64259497 -1.03227043
   1.10643166]
 [-1.01460667  1.75486502 -0.57369368 ...  0.64259497  0.9687384
  -0.74866447]
 [ 0.98560362 -0.5698444  -0.57369368 ...  0.64259497 -1.03227043
   1.48533467]
 ...
 [ 0.98560362 -0.5698444  -0.57369368 ...  0.64259497 -1.03227043
   1.41231994]
 [-1.01460667 -0.5698444   1.74309049 ...  0.64259497  0.9687384
   0.84432121]
 [-1.01460667  1.75486502 -0.57369368 ...  0.64259497 -1.03227043
   0.32472465]]

In [ ]:
print(X_test)

[[-1.01460667  1.75486502 -0.57369368 ...  0.64259497  0.9687384
   1.61085707]
 [ 0.98560362 -0.5698444  -0.57369368 ...  0.64259497 -1.03227043
   0.49587037]
 [-1.01460667 -0.5698444   1.74309049 ...  0.64259497  0.9687384
  -0.42478674]
 ...
 [-1.01460667 -0.5698444   1.74309049 ...  0.64259497 -1.03227043
   0.71888467]
 [-1.01460667  1.75486502 -0.57369368 ...  0.64259497  0.9687384
  -1.54507805]
 [-1.01460667  1.75486502 -0.57369368 ...  0.64259497 -1.03227043
   1.61255917]]

## Part 2 - Building the ANN

### Initializing the ANN

In [ ]:
ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units = 6 , activation='relu'))

### Adding the second hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units = 6 , activation='relu'))

### Adding the output layer

In [ ]:
ann.add(tf.keras.layers.Dense(units = 1 , activation='sigmoid'))

## Part 3 - Training the ANN

### Compiling the ANN

In [ ]:
ann.compile(optimizer = 'adam' , loss = 'binary_crossentropy', metrics =['accuracy'] )  # 'adam' optimizer performs stochastic gradient descent

### Training the ANN on the Training set

In [ ]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7596
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4695 - accuracy: 0.8019
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4386 - accuracy: 0.8104
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4103 - accuracy: 0.8255
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3872 - accuracy: 0.8391
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3735 - accuracy: 0.8449
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3650 - accuracy: 0.8494
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3600 - accuracy: 0.8500
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3561 - accuracy: 0.8506
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3534 - accuracy: 0.8536
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3513 - accuracy: 0.8553
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3498 - accuracy: 0.8556
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3483 - accuracy: 0.8570
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3471 - accuracy: 0.8571
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3464 - accuracy: 0.8579
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3455 - accuracy: 0.8593
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3448 - accuracy: 0.8602
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3441 - accuracy: 0.8594
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3434 - accuracy: 0.8587
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3428 - accuracy: 0.8599
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3423 - accuracy: 0.8604
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3414 - accuracy: 0.8593
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3413 - accuracy: 0.8602
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3409 - accuracy: 0.8609
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3406 - accuracy: 0.8614
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8610
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8612
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3390 - accuracy: 0.8610
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3388 - accuracy: 0.8622
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3388 - accuracy: 0.8610
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3380 - accuracy: 0.8619
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3377 - accuracy: 0.8612
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3377 - accuracy: 0.8602
Epoch 34/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3374 - accuracy: 0.8611
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8630
Epoch 36/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3361 - accuracy: 0.8609
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8631
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3357 - accuracy: 0.8612
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8622
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3352 - accuracy: 0.8614
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3348 - accuracy: 0.8633
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8627
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8641
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8631
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3338 - accuracy: 0.8629
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3339 - accuracy: 0.8625
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3334 - accuracy: 0.8643
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8650
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8639
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8637
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3327 - accuracy: 0.8641
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3330 - accuracy: 0.8635
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3328 - accuracy: 0.8634
Epoch 54/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3326 - accuracy: 0.8631
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3321 - accuracy: 0.8635
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3324 - accuracy: 0.8634
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3324 - accuracy: 0.8637
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8622
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3324 - accuracy: 0.8639
Epoch 60/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3322 - accuracy: 0.8649
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3321 - accuracy: 0.8643
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8629
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3320 - accuracy: 0.8631
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3320 - accuracy: 0.8636
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3320 - accuracy: 0.8646
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3315 - accuracy: 0.8650
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3316 - accuracy: 0.8637
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3316 - accuracy: 0.8643
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3317 - accuracy: 0.8639
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3317 - accuracy: 0.8645
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8641
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3317 - accuracy: 0.8637
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3314 - accuracy: 0.8645
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3313 - accuracy: 0.8645
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3313 - accuracy: 0.8644
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3313 - accuracy: 0.8631
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3311 - accuracy: 0.8648
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3311 - accuracy: 0.8636
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3312 - accuracy: 0.8643
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3313 - accuracy: 0.8641
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3313 - accuracy: 0.8650
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3313 - accuracy: 0.8644
Epoch 83/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3311 - accuracy: 0.8654
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3312 - accuracy: 0.8643
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3308 - accuracy: 0.8651
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3313 - accuracy: 0.8641
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3311 - accuracy: 0.8646
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3308 - accuracy: 0.8636
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3309 - accuracy: 0.8643
Epoch 90/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3308 - accuracy: 0.8627
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3311 - accuracy: 0.8633
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3305 - accuracy: 0.8649
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3308 - accuracy: 0.8656
Epoch 94/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3306 - accuracy: 0.8662
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3306 - accuracy: 0.8651
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3305 - accuracy: 0.8658
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3308 - accuracy: 0.8649
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3304 - accuracy: 0.8627
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3305 - accuracy: 0.8650
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3303 - accuracy: 0.8648

## Part 4 - Making the predictions and evaluating the model

### Predicting the result of a single observation

**Homework**

Use our ANN model to predict if the customer with the following informations will leave the bank: 

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say goodbye to that customer?

**Solution**

In [ ]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 1/2)

[[False]]

Therefore, our ANN model predicts that this customer stays in the bank!

**Important note 1:** Notice that the values of the features were all input in a double pair of square brackets. That's because the "predict" method always expects a 2D array as the format of its inputs. And putting our values into a double pair of square brackets makes the input exactly a 2D array.

**Important note 2:** Notice also that the "France" country was not input as a string in the last column but as "1, 0, 0" in the first three columns. That's because of course the predict method expects the one-hot-encoded values of the state, and as we see in the first row of the matrix of features X, "France" was encoded as "1, 0, 0". And be careful to include these values in the first three columns, because the dummy variables are always created in the first columns.

### Predicting the Test set results

In [ ]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

### Making the Confusion Matrix

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test , y_pred)
print(cm)

[[1515   80]
 [ 203  202]]

In [ ]:
accuracy_score(y_test, y_pred)

0.8585